p{
    font-family: Raleway;
}

body {
    margin: 10px;
    padding-top: 0px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    max-width: 100vw; /* Festgelegte maximale Breite der Seite */
    margin: 0 auto; /* Zentriert die Seite horizontal im Browser-Fenster */
}

div{
    font-family: Raleway;
}

button{
    font-family: Raleway;
    background-color: white;
    border-radius: 2px;
}

a {
    color: black;
    text-decoration:none;
}
p {
    font-family: Raleway; 
}
a:visited {
    text-decoration: none; /* Entfernt den Unterstrich */
    color: black; /* Ändere die Farbe hier nach Bedarf */  
  }

img {
    max-width: 100%; /* Begrenzt die Bildbreite auf 100% der Containerbreite */
    height: auto; /* Behält das Seitenverhältnis des Bildes bei */
}

a, p .footer{
    display: inline-block;

  }

