p{
    font-family: Raleway;
}

body {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
}

div{
    font-family: Raleway;
}

button{
    font-family: Raleway;
    background-color: white;
    border-radius: 2px;
}

a:visited {
    text-decoration: none; /* Entfernt den Unterstrich */
    color: black; /* Ändere die Farbe hier nach Bedarf */  
  }