.footer {
    text-align: center;
    padding: 10px;
    position: bottom;
    bottom: 0;
 
    width: 100%;
  }

  a, p .footer{
    display: inline-block;

  }

  .footer-content p {
    display: inline-block;
    margin-right: 20px;
    margin-left:20px; /* Oder ein anderes Abstandselement nach Bedarf */
}
a {
  color: black;
  text-decoration:none;
}