/* Gemeinsame Eigenschaften */
.quizFrame {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.timerTime {
  font-size: 20px;
  margin-bottom: 2%;
  margin-top: 2%;
}

.button-stop,
.stop-message {
  font-family: Raleway;
  font-size: 20px;
  background-color: white;
  border-width: 1px;
  margin-top: 1%;
  padding: 5px;
  border-radius: 3px;
}

.answerFrame {
  display: inline-block;
  width: 500px; /* Ursprünglich 500px in einem Abschnitt, 100% macht es flexibler */
  vertical-align: top;
  margin-top: 80px;
  margin-left: 2px;
}

.answerTop {
  position: fixed;
  background-color: white;
  width: 512px;
  margin-top: -30px;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.guess-bar {
  font-family: Raleway;
  width: 100%;
  font-size: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
}
.answerBlock{
  padding-top: 230px;
  
}
.answer {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 4px;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
}

.label {
  position: absolute;
  font-size: 21px; /* Ursprünglich 24px in einem Abschnitt, leicht angepasst */
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.gratulation {
  font-size: 50px;
  display: none;
}

/* Einzigartige Eigenschaften */
.pictureFrame {
  display: inline-block;
  width: 650px;
  position: relative;
  margin-left: 1%;
  padding-top: 90px; /* Ursprünglich 5% in einem Abschnitt, geändert auf 90px */
}

.quizPicture {
  width: 40%;
  padding-left: 30%;
  padding-top: 5%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.quizPicturePost {
  width: 35%;
  padding-left: 30%;
}

.line {
  position: absolute;
  border-top: 1px solid black;
  /*  width: 65px;
   top: 100px; 
    transform: translateX(186px) rotate(45deg) ;*/
}

/* Links */
a {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

/* Media Query */
@media (max-width: 1250px) {
  .quizFrame {
    grid-template-columns: 1fr 1fr;
  }
}
